input {
  margin-bottom: 8px !important;
}
#asset {
  text-align: left;
}
#content {
  /* max-width: 500px; */
  padding-bottom: 50px;
  text-align: center;
}
.form-group {
  margin: 0 auto;
  text-align: left;
  min-width: 100%;
  padding: 5px;
}
.submit-feedback {
  min-height: 19px;
}