<div>
  <header class="jumbotron">
    <h1>Personal Finance: {{personName}}</h1>
  </header>
  <!-- <div class="col">
    <ngb-tabset [destroyOnHide]="false">
      <ngb-tab title="Portfolio">
        <ng-template ngbTabContent>
          <app-pos-list-asset></app-pos-list-asset>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Financing">
        <ng-template ngbTabContent>
          <app-pos-financing-base></app-pos-financing-base>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Transactions">
        <ng-template ngbTabContent>
          <p></p>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Orders">
        <ng-template ngbTabContent>
          <p></p>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Balance Sheet">
        <ng-template ngbTabContent>
          <p></p>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Income Statement">
        <ng-template ngbTabContent>
          <p></p>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="New Order">
        <ng-template ngbTabContent>
          <p></p>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div> -->
  <div>
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li [ngbNavItem]="1">
        <a ngbNavLink>Portfolio</a>
        <ng-template ngbNavContent>
          <div class="justify-content-center">
            <app-pos-list-asset ></app-pos-list-asset>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink>Two</a>
        <ng-template ngbNavContent>
          <app-pos-financing-base></app-pos-financing-base>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>

</div>