<div>
  <header class="jumbotron text-center">
    <h1>Personal Finance: {{privatePerson.name}}</h1>
  </header>

  <div>
    <ul ngbNav #nav="ngbNav" class="nav-tabs">

      <li [ngbNavItem]="1">
        <a ngbNavLink>
          <fa-icon [icon]="faChartPie" [styles]="{ 'color': 'black'}"></fa-icon> <span class="text-dark"> Portfolio </span>
        </a>
        <ng-template ngbNavContent>
          <div class="justify-content-center">
            <app-pos-list-asset [objParty]="privatePerson"></app-pos-list-asset>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink>
          <fa-icon [icon]="faCreditCard" [styles]="{ 'color': 'black'}"></fa-icon><span class="text-dark"> Financing</span>
        </a>
        <ng-template ngbNavContent>
          <div class="justify-content-center">
            <app-pos-financing-base [objParty]="privatePerson"></app-pos-financing-base>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="3">
        <a ngbNavLink>
          <fa-icon [icon]="faExchangeAlt" [styles]="{ 'color': 'black'}"></fa-icon><span class="text-dark"> Transactions</span>
        </a>
        <ng-template ngbNavContent>
          <div class="justify-content-center">
            <app-pos-trx [objParty]="privatePerson"></app-pos-trx>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="4">
        <a ngbNavLink>
          <fa-icon [icon]="faList" [styles]="{ 'color': 'black'}"></fa-icon><span class="text-dark"> Orders</span>
        </a>
        <ng-template ngbNavContent>
          <div class="justify-content-center">
            <app-order-stex-list [objParty]="privatePerson"></app-order-stex-list>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="5">
        <a ngbNavLink>
          <fa-icon [icon]="faColumns" [styles]="{ 'color': 'black'}"></fa-icon><span class="text-dark"> Balance Sheet</span>
        </a>
        <ng-template ngbNavContent>
          <div class="justify-content-center">
            <app-fin-stmt [stmtType]="'BAL_SHEET'" [objParty]="privatePerson"></app-fin-stmt>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="6">
        <a ngbNavLink>
          <fa-icon [icon]="faColumns" [styles]="{ 'color': 'black'}"></fa-icon><span class="text-dark"> Income Statement</span>
        </a>
        <ng-template ngbNavContent>
          <div class="justify-content-center">
            <app-fin-stmt [stmtType]="'INCOME_STMT'" [objParty]="privatePerson"></app-fin-stmt>
          </div>
        </ng-template>
      </li>

      <li [ngbNavItem]="7">
        <a ngbNavLink>
          <fa-icon [icon]="faFile" [styles]="{ 'color': 'black'}"></fa-icon><span class="text-dark"> New Order</span>
        </a>
        <ng-template ngbNavContent>
          <div class="justify-content-center">
            <app-new-order-stex [objParty]="privatePerson"></app-new-order-stex>
          </div>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>

</div>