<div>
	<ul ngbNav #nav="ngbNav" class="nav-tabs">


		<li [ngbNavItem]="1">
			<a ngbNavLink class="text-dark">Present Financing</a>
			<ng-template ngbNavContent>
				<div class="justify-content-center">
					<app-pos-list-liab [objParty]="finParty"></app-pos-list-liab>
				</div>
			</ng-template>
		</li>
		<li [ngbNavItem]="2">
			<a ngbNavLink class="text-dark">Loan Application</a>
			<ng-template ngbNavContent>
				<div class="justify-content-center">
					<app-new-order-loan [objParty]="finParty"></app-new-order-loan>
				</div>
			</ng-template>
		</li>
		<li [ngbNavItem]="3">
			<a ngbNavLink class="text-dark">Bond Issuance</a>
			<ng-template ngbNavContent>
				<div class="justify-content-center">
					<app-new-order-bond-ipo [objParty]="finParty"></app-new-order-bond-ipo>
				</div>
			</ng-template>
		</li>
		<li [ngbNavItem]="4">
			<a ngbNavLink class="text-dark">Share Issuance</a>
			<ng-template ngbNavContent>
				<div class="justify-content-center">
					<app-new-order-share-ipo [objParty]="finParty"></app-new-order-share-ipo>
				</div>
			</ng-template>
		</li>
	</ul>
	<div [ngbNavOutlet]="nav"></div>
</div>