<div>
	<ul ngbNav #nav="ngbNav" class="nav-tabs">


		<li [ngbNavItem]="1">
			<a ngbNavLink>Present Financing</a>
			<ng-template ngbNavContent>
				<div class="">
					<app-pos-list-liab></app-pos-list-liab>
				</div>
			</ng-template>
		</li>
		<li [ngbNavItem]="2">
			<a ngbNavLink>Loan Application</a>
			<ng-template ngbNavContent>
				<div class="justify-content-center">
					<app-new-order-loan></app-new-order-loan>
				</div>
			</ng-template>
		</li>
		<li [ngbNavItem]="3">
			<a ngbNavLink>Bond Issuance</a>
			<ng-template ngbNavContent>
				<div class="">
					<app-new-order-bond-ipo></app-new-order-bond-ipo>
				</div>
			</ng-template>
		</li>
		<li [ngbNavItem]="4">
			<a ngbNavLink>Share Issuance</a>
			<ng-template ngbNavContent>
				<div class="justify-content-center">
					<app-new-order-share-ipo></app-new-order-share-ipo>
				</div>
			</ng-template>
		</li>
	</ul>
	<div [ngbNavOutlet]="nav"></div>
</div>